<!DOCTYPE html>
<html>

<head>
	<title>SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="stylesheet" href="css/style.css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
	
</head>

<body>
	<!-- main -->
	{{>navbar}}
	<div class="main-w3layouts wrapper">
		<h1>Registration SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/register" method="POST">
					<label>First Name
						<input class="text" type="text" name="firstname" placeholder="First Name"></label>
					<label>Last Name</label>
					<input class="text" type="text" name="lastname" placeholder="Last Name">
					<label>Email</label>
					<input class="text email" type="email" name="email" placeholder="Email">
					<label>Phone Number</label>
					<input class="tel" type="tel" name="phone" placeholder="Phone Number">
					<label class="radio inline">
						<input type="radio" name="gender" value="male">Male
					</label>
					<label class="radio inline">
						<input type="radio" name="gender" value="female">Female
					</label>
					<br>
					<br>
					<label>Age</label>
					<input class="age" type="number" name="age" placeholder="Age">
					<label>Password</label>
					<input class="text" type="password" name="password" placeholder="Password">
					<label>Confirm Password</label>
					<input class="text w3lpass" type="password" name="confirmpassword" placeholder="Confirm Password">

					{{!-- <label>
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label> --}}

					<input type="submit" value="REGISTER">
				</form>
				<p>Have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>


	</div>
	<!-- //main -->
</body>

</html>